<div class="Preview">
  <div class="slider">
    <ul class="slides">
      <% @albums.each do |album| %>
      <li>
        <img src= <%= album.image.url(:large) %> >
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="Projects">
  
</div>

<div class="About">
  
</div>

<div class="Contact">
  
</div>