.card {
	width: 33%;
	max-height: 40%;
	display: inline-block;
}

.card-image {
	max-height: 250px;
	min-height: 250px;
}

.title {
	text-align: center;
}

.about {
	text-align: center;
}

.contact {
	text-align: center;
}

.brand-logo {
	font-family: "Times New Roman";
}

#preview {
    padding-top: 50px;
    margin-top: -50px;
}

#projects {
    padding-top: 50px;
    margin-top: -50px;
}

#about {
    padding-top: 50px;
    margin-top: -50px;
}

#contact {
    padding-top: 50px;
    margin-top: -50px;
}