.card {
	width: 33%;
	max-height: 40%;
	display: inline-block;
}

.card-image {
	max-height: 250px;
	min-height: 250px;
}

.title {
	text-align: center;
}

.about {
	text-align: center;
}

.contact {
	text-align: center;
}

.brand-logo {
	font-family: "Times New Roman";
}

#preview {
    padding-top: 50px;
    margin-top: -50px;
}

#projects {
    padding-top: 50px;
    margin-top: -50px;
}

.title {
	font-family: "Time New Roman";
}

.about {
	font-family: "Times New Roman";
}

.contact {
	font-family: "Times New Roman";
}

.flexcontainer {
	padding-top: 100px;
	margin-top: -50px;
	display: flex;
	align-items: center;
}

.aboutlist {
	padding-right: 50px;
	padding-left: 25px;
}

.aboutimage {
	padding-right: 25px;
}

.projectbanner {
	position: relative;
}

.projectbanner h2 {
	font-size: 400%;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 2%;
}

.projectbanner h3 {
	position: relative;
	padding-left: 600px;
	padding-right: -600px;
	font-size: 180%;
	max-width: 100%;
	font-style: italic;
	margin-top: 0;
}

.projectbanner img {
	position: absolute;
	top: 0;
    left: 0;
    z-index: -2;
}

.cards {
	width: 100%;
}

.aboutlist p {
	text-align: center;
}

.aboutlist li {
	text-align: center;
}

.album-images-container {
	min-width: 100%;
}

.album-image {
	padding: 0;
	margin: 0;
	min-width: 33%;
	display: inline-block;
}

.image-container {
	min-width: 100%;
}